.addtask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 10px;
}

.addtask form {
    width: 70%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.addtask input {
    margin-right: 12px;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 11px #a39ab3, -5px -5px 11px #fffcff;
}

.addtask select {
    box-shadow: 5px 5px 11px #a39ab3, -5px -5px 11px #fffcff;
    border: none;
    outline: none;
    height: 33px;
    border-radius: 5px;
    margin-bottom: 10px; /* Add some margin for better spacing on smaller screens */
}

.addtask .calendar-button {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.addtask .calendar-button img {
    width: 100%;
    height: 100%;
}

.addtask button {
    background-color: #F79A1F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addtask button:hover {
    background-color: #316AAE;
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
    .addtask form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .addtask form {
        width: 100%;
    }

    .addtask input {
        margin-bottom: 10px; /* Stack input and button on smaller screens */
    }
}

@media (max-width: 480px) {
    .addtask {
        height: auto; /* Adjust height for smaller screens */
    }

    .addtask form {
        flex-direction: column; /* Stack form elements vertically */
        align-items: stretch;
    }

    .addtask input, 
    .addtask select, 
    .addtask button, 
    .addtask .calendar-button {
        width: 100%; /* Full width for all elements */
        margin-bottom: 10px;
    }

    .addtask .calendar-button {
        height: 50px;
    }
}
