.addtask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.addtask form {
    width: 70%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addtask input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF; /* 60% - Dominant Color */
    border-radius: 5px;
}

.addtask .calendar-button {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.addtask .calendar-button img {
    width: 100%;
    height: 100%;
}

.addtask button {
    background-color: #F79A1F; /* 30% - Secondary Color */
    color: #FFFFFF; /* Text color matching the dominant color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addtask button:hover {
    background-color: #EB4F47; /* 10% - Accent Color on hover */
}
