.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
}

.menu:hover{
  width: 91%;
  background-color: rgb(246, 246, 246);
}

.menu li {
  padding: 0.5rem;
  flex: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
  button {
    margin: 6px;
  }
  p {
    font-size: 14px;
  }
  overflow: hidden;
  position: relative;
}

.menu li::after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #f01750;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scaleY(1);
  transform-origin: bottom;
  z-index: -1;
}

.menu li:hover::after {
  transform: scaleY(1);
  opacity: 1;
  bottom: 0;
}

.menu.completed {
  background-color: #FFFFFF;
  color: #00c126;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu.backlog {
  color: #e73131 !important;
}

.menu.doing {
  color: rgb(40, 22, 235);
}

.menu.todo {
  color: #eb6b6b;
}

.menu .completed {
  background-color: #F68413;
  color: #FFFFFF;
}

.menu .complete {
  background-color: #F68413;
}
