/* RecordTable.css */

/* Apply general table styles */
.white-text-table {
  color: #FFFFFF; /* 60% - Dominant Color */
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF; /* 60% - Dominant Color */
}

th, td {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

th {
  background-color: #F79A1F; /* 30% - Secondary Color */
  color: #FFFFFF; /* Text color matching the dominant color */
}

/* Status-specific styles */
.select {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFFFFF; /* Text color matching the dominant color */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Status-specific color coding */
td select.pending {
  background-color: #EB4F47; /* 10% - Accent Color */
}

td select.inprogress {
  background-color: #EB4F47;
}

td select.completed {
  background-color: #EB4F47;
}

/* Hover effect */
td select:hover {
  filter: brightness(1.2);
}

button {
  background-color: #EB4F47;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
button:hover {
  background-color: #EB4F47;
}
