/* RecordTable.css */

/* Apply general table styles */
.white-text-table {
  color: #FFFFFF; /* 60% - Dominant Color */
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF; /* 60% - Dominant Color */
}

th, td {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

th {
  background-color: #F79A1F; /* 30% - Secondary Color */
  color: #FFFFFF; /* Text color matching the dominant color */
}

/* Status-specific styles */
.select {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFFFFF; /* Text color matching the dominant color */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Status-specific color coding */
td select.pending {
  background-color: #F68413; /* 10% - Accent Color */
}

td select.inprogress {
  background-color: #F68413;
}

td select.completed {
  background-color: #F68413;
}

/* Hover effect */
td select:hover {
  filter: brightness(1.2);
}

button {
  background-color: #F68413;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
button:hover {
  background-color: #316AAE;
  box-shadow:  7px 7px 14px #a39ab3,
             -7px -7px 14px #fffcff;
}

.month:hover span, .year:hover span {
  transform: scale(1.2); /* Increase the size by 10% on hover */
  color: #F68413; /* Change to your desired hover color */
  box-shadow: 0 0 10px rgba(235, 79, 71, 0.7); /* Box shadow for pop-up effect */
}

/* Rest of the existing styles */
.month, .year {
  display: flex;
  justify-content: space-between; /* Move content to the right */
  align-items: center; /* Center vertically */
  margin-bottom: 05px;
}
.search{
  width:300px;
  margin-right: 12px;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 11px #a39ab3, -3px 1px 11px #fffcff;
}

.label {
  font-weight: bold;
  margin-right: 10px; /* Add some right margin for separation */
}
// RecordTable.scss
.pie-button {
  background: linear-gradient(to bottom, #4caf50, #388e3c); /* Gradient background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow effect */

  &:hover {
    background: linear-gradient(to bottom, #45a049, #388e3c); /* Darken the background gradient on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Adjust the shadow on hover */
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reset the shadow on click */
  }
}


.pie-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 50;
  max-width: 5px; /* adjust the width as desired */
  max-height: 5px; /* adjust the height as desired */
  
}



.pie-modal .pie-chart {
  width: 100%;
  height: auto;
  max-width: 1px; /* adjust the width of the pie chart */
  max-height: 1px; /* adjust the height of the pie chart */
}
.chart-container {
  width: 220;
  height: 220px;
}