.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    background-color: #FFFFFF; /* 60% - Dominant Color */
    padding: 1rem;
    color: #F79A1F; /* 30% - Secondary Color */

    li {
        flex: 1;
    }

    h5 {
        font-size: 14px;
    }
}
