@import '../../styles/abstract/mixins';

.home {
    width: 100%;
    height: 100vh;
    // background: url('../../images/background.webp') no-repeat;
    background-size: cover;
background-color:rgb(234, 216, 58);
    @include flex-center(flex, row, center, center);

    &__container {
        width: 50%;
        text-align: center;

        h2 {
            font-size: 42px;
        }

        .button {
            background-color: red;
            color: white;
            margin-top: 1rem;
            font-size: 1.2rem;
            display: inline-block;
        }
    }
    /* Add this CSS to your home.scss or a separate CSS file */

.logo-container {
    perspective: 1200px;
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .box {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    color: aqua;
    animation: spin 2s infinite; /* Add a spinning animation */
  }
  
  .logo {
    width: 197px;
    height: 121px;
    transform: rotateY(0deg);
  }
  
  .logo-container:hover .box {
    transform: rotateY(180deg);
  }
  
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
 
}