/* Apply a CSS Reset to normalize styles across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles for fonts, colors, etc. */
body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF; /* 60% - Dominant Color */
  align-items: center;
  height: 60px;
  padding: 0 20px;
  transition: background-color 0.3s;
}

.header:hover {
  background-color: #F79A1F; /* 30% - Secondary Color on hover */
}

.header__logo h5 {
  color: white;
  font-weight: 300;
  margin-top: 20%;
}

.header .button {
  background-color: #EB4F47; /* 10% - Accent Color */
  color: #FFFFFF; /* Text color matching the header background color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.header .button:hover {
  background-color: #EB4F47; /* 10% - Accent Color on hover */
  color: #FFFFFF; /* Text color matching the header background color on hover */
}
