.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    .header__logo {
        h3 {
            color: #F68413; /* 30% - Secondary Color */
            font-weight: 300;
           
        }
        .img {
            height: 21vh;
            margin-top: 22px;
            padding: 10px;
        }
    }

    .header__buttons {
        button {
            margin-left: 10px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            transition: background-color 0.3s ease;
            
            
        }

        /* Apply styles when hovering over the button */
        button:hover {
            background-color: #F68413; /* 10% - Accent Color */
            color: #FFFFFF; /* Text color matching the dominant color for contrast */
            border-color: #F68413; /* Border color on hover */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Box shadow on hover */
        }
    }
}
